<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Service.BatteryService">
				<endpoint address="net.tcp://localhost:4000/BatteryService"
						  binding="netTcpBinding"
						  bindingConfiguration="MojBinding"
						  contract="Common.IBatteryService" />
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="MojBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>