<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="Phi_threshold" value="0.3"/>
		<add key="Q_min" value="0.05"/>
		<add key="Q_max" value="0.6"/>
		<add key="Q_deviation_percent" value="0.20"/>
		<add key="TransferStartedMessage" value="Prenos u toku."/>
		<add key="SampleReceivedMessage" value="Merenje primljeno i upisano u session.csv."/>
		<add key="TransferCompletedMessage" value="Prenos zavrsen."/>
		<add key="PhaseShiftPositiveMessage" value="pomeraj ka induktivnom+"/>
		<add key="PhaseShiftNegativeMessage" value="pomeraj ka kapacitivnom"/>
		<add key="ReactiveRatioOutOfBoundsMessage" value="Q van opsega [Q_min, Q_max]."/>
		<add key="ReactiveRatioLowMessage" value="ispod ocekivanog"/>
		<add key="ReactiveRatioHighMessage" value="iznad ocekivanog"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="Service.BatteryService">
				<endpoint address="net.tcp://localhost:4000/BatteryService"
                          binding="netTcpBinding"
                          bindingConfiguration="MojBinding"
                          contract="Common.IBatteryService" />
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="MojBinding" maxReceivedMessageSize="2147483647" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:10:00">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>
